/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
    border-radius: .5em;
}

figure {
    margin: 0em;
}
h1 {
    width: 8em;
    margin: 1em 0em;
}

h2 {
    font-family: "ivypresto-display", serif;
    font-weight: 600;
    font-style: normal;
    color: #104239;
    font-size: 3em;
    margin: .2em .2em;
}

h2.secondary {
    font-size: 2em;
}

h2.tertiary {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

nav a {
    color: #104239;
    font-family: "hanken-grotesk", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.25em;
}

p {
    font-family: "hanken-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
    margin: 0em .5em;
    line-height: 1.5;
}

nav ul{
    list-style: none;
}

ul li{
    margin-bottom: .5em;
}

header {
    padding: .5em;
}

body {
    background-color: #fefefe;
}

div.container, div.home-container {
    max-width: 40em;
    margin: auto;
}

.tertiary-teaser {
    margin: .5em;
    padding: .5em 0em;
    border-bottom: solid 1px #104239;
    corner-shape: var(2em);
}

.tertiary-teaser h2,
.tertiary-teaser p {
    margin-left: 0;
    margin-right: 0;
}

figcaption {
    font-family: "hanken-grotesk", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: rgb(128, 128, 128);
    margin: .5em;
}

article h2 {
    margin-top: 1em;
}

article p {
    margin-bottom: 1.5em;
}

aside{
    padding: 1em .5em;
}

aside p {
    margin-bottom: 1em;
}

footer{
    background-color: #104239;
    padding:1em .5em;
    box-sizing: border-box;
}

footer p{
    color: rgb(255, 255, 255);
    font-family: "hanken-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0em;
}

@media screen and (min-width: 40em) {
	nav ul li{
		display:inline;
        margin-right: 1em;
	}

    figcaption{
        margin:.5em 0em 1em 0em;
    }

    h2{
        margin:.2em 0em 0em 0em;
    }

    p{
        margin: 0 0 2em 0;
    }

    header{
        padding: 0em;
        margin-bottom: 1em;
    }
    .tertiary-teaser {
    margin: 0em;
}
}

@media only screen and (min-width: 60em) {
    div.home-container {
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }
    div.container {
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    header, footer {
        grid-column: 1/3;
    }

    div.home-container main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;

    }

    section.mainstory-teaser {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    div.home-container aside{
        background: none;
        padding: 0;
        margin-top: 0;
    }

    div.container aside{
        margin-top: 0;
    }
    
    section.mainstory-teaser a{
        display: flex;
        flex-direction: column;
    }

    section.mainstory-teaser a figure{
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory-teaser a figure img {
        object-fit: cover;
    }

    section.secondary-teaser {
        display: flex;
    }

    section.secondary-teaser a h2{
        flex: 0 0 1em;
    }

    section.secondary-teaser a p{
        flex: 0 0 4em;
    }

    section.secondary-teaser a{
        display: flex;
        flex-direction: column;
    }

    section.secondary-teaser a figure{
        flex: 1 0 12em;
        display: flex;
    }

    section.secondary-teaser a figure img {
        object-fit: cover;
    }

    section.secondary-teaser a h2{
        flex: 0 0 1em;
    }

    section.secondary-teaser a p{
        flex: 0 0 4em;
    }
}